body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a:link, a:visited, a:active {
  text-decoration:none;
}

link:link, a:visited, a:active {
  text-decoration:none;
}

