.danger{
    border-color: red;
}
.fondo{
   background-image: url(https://images.pexels.com/photos/3726314/pexels-photo-3726314.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
   object-fit: cover;
   width: 100%;
   height: 100vh;
   position: absolute;
   z-index: -1;
   

}
.padre{
   display: flex;
   flex-direction: column;
   max-width: 800px;
   
}

.form1{
 
}

.enviar{
 
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    letter-spacing: .25px;
    line-height: normal;
    padding: 11px 24px;
    transition: background box-shadow 280ms ease;
    display: flex;
    width: 400px;
    justify-content: center;
    background-color: #affac2;
    
}
.enviar:hover {
    background: #F6F9FE;
    color: #174ea6;
    cursor: pointer;
   }
   
   .enviar:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
    border: 2px solid #4285f4;
   }
.inputsname{
    
    border: 7px groove #7ea382; 
    background-color: #bed2f8;
width: 45%;
}

.inputsname{
    display: flex;
    max-width: 1000px;
    height: 20px;
    border: 2px solid transparent;
    outline: none;
    border-bottom: 2px solid #3f3f3f;
    caret-color: #3f3f3f;
    background-color: #d0f8ce;
    padding: 5px;
    transition: .5s linear;
    font-family: monospace;
    letter-spacing: 1px;
    color: rgb(3, 3, 3);
  }
  
  .inputsname:focus {
    border: 2px solid #1aff40;
    caret-color: #16f84e;
    color: #50f726;
    box-shadow: 4px 4px 10px #070707;
  }
  
  .inputsname:focus::placeholder {
    color: #00f729;
  }

.select{
    display: flex;
    position: relative;
width: 47%;
background-color: #d7fcd9;
}

.error{
    color: red;
    font-size: 12.5px;
    margin: 0;
    padding: 0;
    font-weight: 5px;
}

.label{
    font-size: 20px;
    font-weight: 15px;
    color: #007a14;
}

.btn{
    
    opacity: 100;
border: none;
border-radius: 2px;
padding: auto;
}

.ul{
    display: flex;
    flex-direction: row-reverse;
    text-decoration: none;
    list-style: none;
  
    
}
.liCont{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    align-items: center;
    max-height: 20px;
    
    
    ;
}