.grilla{
    
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 40px;
    padding: 20px;
    justify-content: center;

}





.liTemp{
    list-style: none;
    
    display: flex;
    
    background-color: plum(250, 219, 223);
    border-radius: 10px;

    
    ;
}
.ulTemp{
    display: grid;
    grid-template-columns: repeat(auto-fill, 30px);
    gap: 40px;
    padding: 20px;
    
    font-size: 10px;
    color: red;
    background-color: plum;
    height: 250px;
    width: 100%;    
    align-items: center;
   
    list-style: none;
    overflow:auto
    ;
}

/* .ulTemp{
display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: center;
    
} */

.divTemp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 50%;
    height: 100%;
    padding: 0%;
   
}

.navBusqueda{
    display: flex;
    align-items: center;
   height: 40px;
    gap: 20px;
    background-color: rgb(181, 194, 186);
    
}

.divFiltro{
    background-color: blue;
    overflow: scroll;
}
.selected{
    height: 30px;
      border-radius: 5px;
      background: #c3facd;
}

.fondo{
    background-color: rgb(227, 255, 224);
}

@media screen and (max-width: 550px) {
    .selected{
        height: 30px;
        width: 70px;
          border-radius: 5px;
          background: #c3facd;
    }
}